
 <!DOCTYPE html>
 <html>
 <head>
 <title>Page Title</title>
 </head>
 <body>
 
    <form>
        <div class="form-group">
          <label for="sourceCityID">Source city</label>
          <input type="email" class="form-control" id="sourceCityID" placeholder="Enter source city">
        </div>
        <div class="form-group">
          <label for="destinationCityID">Password</label>
          <input type="password" class="form-control" id="destinationCityID" placeholder="Enter destination city">
        </div>
        <label for="date">Pick a date:</label>
        <input type="date" id="date">
        <button type="submit" class="btn btn-primary">Find offers</button>
      </form>

      <div class="maps">
        <iframe src="figura.html" allowfullscreen height=500px width = 500px></iframe>
      </div>
 </body>
 </html> 